::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

html {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
    /*background:  #141414;*/
}

* {
	margin: 0;
	padding: 0; 
  	text-decoration: none;
  	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  	color: #000;
  	list-style-type: none;
}

body {

    width: 100vw;
    padding: 4vh 0 4vh 0;
    background: linear-gradient(#2fe6ff,#f0f5f8);
}

.container {
    
    background: #f0f5f8;
    margin: 0% 20% 0% 20%;
    padding: 2vh 3% 2vh 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}

.im {
    width: 100%;
}

h1 {

    padding-bottom: 10px;
}

.list {
    background: rgba(44, 255, 255, 0.157);
    margin: 5vh 5% 5vh 5%;
    padding: 3%;
}

.preUl {
    margin-bottom: 2%;
}

.el {
    margin-top: 2%;
    margin-left: 5%;
}

h2 {
    color: azure;
}
.inf {
    background:  #141414 rgba(0, 0, 0, 0.5);
    display: none;
}

.btn1 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 3px;
    color: #fff; 
    text-decoration: none; 
    user-select: none; 
    background:  linear-gradient(90deg,#f0f5f8,#2fe6ff,#f0f5f8);
    outline: none; 
    border: 0px;
    padding: 4px 40px 4px 40px;
}
.btn1:hover { background:  linear-gradient(90deg,#f0f5f8,#5decff,#f0f5f8); }

.btn {
    margin-top: 3px;
    margin-bottom: 5px;
    border: 0px;
    background:  linear-gradient(90deg,#f0f5f8,#2fe6ff,#f0f5f8);
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
    padding-top: 2vh;
    padding-bottom: 3vh;
    text-align: center;
}

.btn:hover { background: linear-gradient(90deg,#f0f5f8,#5decff,#f0f5f8); }

.txt {
    font-family: sans-serif, TeX Gyre Adventor, URW Gothic L, sans-serif;
   
}

.test {
    font-size: medium;
    color: #fff;
    padding: 4px 10px;
    margin: 15px 20px 15px 20px;
    background: #2fe6ff;
}
.test:hover { background: #5decff; }

.author > img {
    width: 40%;
    height: 60%;
}
.author {
    display: flex;
    flex-direction: row;
}