::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

html {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
    /*background:  #141414;*/
}

* {
	margin: 0;
	padding: 0; 
  	text-decoration: none;
  	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  	color: #cccccc;
  	list-style-type: none;
}

body{
	height: 100vh;
	width: 100vw;
	background: linear-gradient(#ffffff,#2fe6ff);
}

.all {
	height: 100%;
	width: 100%;
	background: url(img/1.png)  no-repeat;
	background-size: contain;
	background-position: center center;
}

.href1 {
	padding: 7vh 0 0 45.5vw;
}

.href2 {
	padding: 0 0 0 60vw;
}

.href3 {
	padding: 0 0 0 34vw;
}

.href4 {
	padding: 0 0 0 55.5vw;
}

.href5 {
	padding: 0 0 0 31.5vw;
}

a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
  text-decoration: none;
  color: #666;
}

a:hover::after { 
	content: attr(data-title);
	position: absolute;
	left: 15%; top: 5%;
	z-index: 1;
	background: #2fe6ff;
	font-family: Arial, sans-serif;
	font-size: 30px;
	padding: 5px 10px; 
	border: 3px solid #1394c5;
	color: #fff;
	border-radius: 10px;
}

.a {
	height: 16vh;
	width: 9vw;
}

